<phpunit
    backupGlobals="true"
    bootstrap="tests/bootstrap.php"
    cacheDirectory="var/cache/phpunit"
    processIsolation="true"
    executionOrder="depends,defects"
    colors="true"
    testdox="true"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="false"
    beStrictAboutChangesToGlobalState="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnWarning="true"
    stopOnDeprecation="true"
    stopOnNotice="true"
    failOnEmptyTestSuite="true"
    failOnWarning="true"
    failOnRisky="true"
    failOnDeprecation="true"
    failOnPhpunitDeprecation="true"
    failOnNotice="true"
>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="LibreDTE: Cliente de API en PHP - Pruebas Unitarias.">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="dte">
            <directory>tests/dte_facturacion</directory>
        </testsuite>
        <testsuite name="contab">
            <directory>tests/lce_contabilidad</directory>
        </testsuite>
        <testsuite name="pagos">
            <directory>tests/pagos_cobros_masivos</directory>
        </testsuite>
        <testsuite name="readonly">
            <file>tests/dte_facturacion/BuscarDocumentoEmitidoTest.php</file>
            <file>tests/pagos_cobros_masivos/BuscarCobroTest.php</file>
        </testsuite>
        <testsuite name="dte_temp">
            <file>tests/dte_facturacion/EmitirDteTemporalTest.php</file>
        </testsuite>
    </testsuites>
    <coverage
        ignoreDeprecatedCodeUnits="true"
        pathCoverage="true"
    >
        <report>
            <text
                outputFile="var/tests-coverage.txt"
                showUncoveredFiles="true"
            />
            <clover outputFile="var/tests-coverage.xml" />
        </report>
    </coverage>
    <logging>
        <testdoxText outputFile="var/tests-testdox.txt"/>
    </logging>
    <php>
        <ini name="memory_limit" value="-1" />
        <env name="LIBREDTE_URL" value="https://libredte.cl" />
        <env name="LIBREDTE_RUT" value="19151443-2" />
    </php>
</phpunit>
